@import "tailwindcss";

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

/* Custom Scrollbar for Gantt */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: var(--color-gray-50);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.gantt-grid-line {
  background-image: linear-gradient(to right, #f3f4f6 1px, transparent 1px);
  background-size: 40px 100%;
}